@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Neuton');

//===== Typography =====//
//======================//

html,body{
    font-family: 'Montserrat', sans-serif;
}


//===== Color =====//
//=================//

$navy: #002A3B;
$brown: #4B422B;
$red: #B43F26;
$beige: #B8B299;
$light-beige: #E5E5E1;
