.container{
    height:100%;
    display: flex;
    padding:5vw;
    border:16px solid white;
    box-sizing: border-box;
    background-image:url('../img/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color:$light-beige;
    .col{
        height:100%;
        width:50%;
        display: flex;
        flex-direction: column;
        &.left{
            justify-content: space-between;
            .logo--canyon-gate{
            }
            #mainNav{
            }
        }
        &.right{
            align-items: center;
            justify-content: center;
        }
    }
}

.wrapper{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo{
    span{
        position: absolute;
        top:-9999em;
        left:-9999em;
        visibility: hidden;
    }
    img{
        width:100%;
    }
    &.logo--canyon-gate{
        width:100%;
        max-width:328px;
    }
}

.btn{
    display: block;
    &.btn--play{
        width:72px;
        height:72px;
        border-radius:50%;
        background-color:rgba($red, 0.7);
        background-image:url('../img/icon-play.svg');
        background-position: 55% center;
        background-repeat:no-repeat;
        transition:all 0.1s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color:$red;
        }
        &:active{
            transform:scale(0.9);
        }
        &:focus{
            outline:none;
            border:2px solid white;
        }
    }
    &.btn--submit{
        width:208px;
        line-height:48px;
        font-size:18px;
        font-weight:700;
        color:white;
        border:none;
        border-radius:2px;
        background-color:$red;
        &:hover{
            cursor: pointer;
            background-color:lighten($red, 10);
        }
    }
}

.link{
    text-decoration:none;
    &.link--l{
        display: inline-block;
        color:$navy;
        font-size:24px;
        font-weight:600;
        &::after{
            content:'';
            width:0;
            height:2px;
            display: block;
            margin-top:6px;
            background-color:$red;
            opacity: 0;
            transition: all 0.15s ease-in-out;
        }
        &:hover{
            &::after{
                width:64px;
                opacity: 1;
            }
        }
    }
}

.lity-close{
    display: none;
    visibility: none;
}
.lity{
    background:rgba($navy, 0.8) !important;
}

.list{
    li{
        margin-bottom:16px;
    }
}

.modal-content{
    .wrapper{
        width:100%;
        max-width:568px;
    }
}

.form{
    font-family:'Neuton', serif;
    .field{
        margin-top:8px;
        font-size:24px;
        &:first-child{
            margin-top:2.5vw;
        }
        &:last-child{
            margin-bottom:3vw;
        }
        label{
            input{
                padding-left:8px;
                color:white;
                font-family:'Neuton', serif;
                font-size:24px;
                border:none;
                border-bottom:2px solid rgba(255,255,255,0.2);
                background:none;
                transition: all 0.15s ease-in-out;
                &:focus{
                    outline: none;
                    border-color:rgba(255,255,255,0.6);
                }
            }
        }
    }
}

#formDisclaimer{
    margin-top:4vw;
    display: block;
    font-size:12px;
}

h2{
    font-size:40px;
}

a{
    color:$navy;
    &.reverse{
        color:white;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.6);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.6);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.6);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.6);
}

@media (max-width:768px){
    .container{
        display: block;
        position: relative;
        background-size:140%;
        background-position: 0 60%;
        .col{
            width:100%;
            display: block;
        }
    }
    .logo{
        &.logo--canyon-gate{
            max-width:224px;
            margin:0 auto;
        }
    }
    .btn{
        &.btn--play{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%) !important;
        }
    }
    .link{
        &.link--l{
            font-size:18px;
            &::after{
                margin-top:2px;
            }
        }
    }
    .list{
        li{
            margin-bottom:8px;
        }
    }
    #mainNav{
        width:200px;
        position: absolute;
        left:5vw;
        bottom:5vw;
    }
    .modal-content{
        .wrapper{
            max-width:400px;
        }
    }
    .form{
        .field{
            font-size:18px;
            &:first-child{
                margin-top:5vw;
            }
            &:last-child{
                margin-bottom:6vw;
            }
            label{
                input{
                    font-size:20px;
                }
            }
        }
    }
    h2{
        font-size:32px;
    }
}
